<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    #Options +FollowSymLinks
    #IndexIgnore */*

    RewriteEngine On
    #RewriteBase /

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    SetEnvIfNoCase User-Agent .*google.* search_robot
    #SetEnvIfNoCase User-Agent .*yahoo.* search_robot
    #SetEnvIfNoCase User-Agent .*bot.* search_robot
    #SetEnvIfNoCase User-Agent .*ask.* search_robot

    #Order Deny,Allow
    #Deny from All
    Allow from env=search_robot
</IfModule>
